<mat-divider></mat-divider>
<div style="flex-direction:column;display:flex;height:100%">
  <div style="flex-direction:row;display:flex;padding:0 16px">
<mat-form-field appearance="outline" style="flex:1;height:6px;margin-top:8px">
  <mat-label>Choose a conversation</mat-label>
<mat-select (selectionChange)="conversationChange($event)" placeholder="Choose a conversation">
  <mat-option *ngFor="let conversation of conversations$ | async" [value]="conversation['id']">{{conversation['conversationID']}}</mat-option>
</mat-select>
</mat-form-field>
<button *ngIf="this.currentConversation" mat-raised-button color="warn" style="margin: 16px 16px 16px 16px" (click)="createConversation()">End conversation</button>
<button mat-raised-button color="primary" style="margin:16px" (click)="createConversation()">Create conversation</button>
</div>
<mat-divider></mat-divider>
<div *ngIf="this.currentConversation" style="flex-direction:row;display:flex;flex:1 1 auto">

<div style="flex:0 0 50%;color:#666;justify-content:center;display:flex;align-items:center;padding:16px">
  <div *ngIf="!this.currentParticipant" style="flex-direction:column;display:flex;align-items:center">
    <mat-icon>forum</mat-icon>
    <h2 style="margin:0">Start a conversation</h2>
    <h3 >Create a user then use the chatbox below</h3>
    <div style="flex-direction:row">
      <button (click)='createParticipant("END_USER")' mat-raised-button color="primary">
        <mat-icon>person</mat-icon>  Customer</button>
        <button (click)='createParticipant("HUMAN_AGENT")' mat-raised-button color="accent">
          <mat-icon>headset_mic</mat-icon>  Advisor</button>
        </div>
      </div>
      <div *ngIf="this.currentParticipant" style="flex-direction:column;height:100%;display:flex;flex: 1 1 100%">
        <h2 style="font-family:'Roboto Condensed'">{{this.currentParticipant.type}}</h2>
        <div style="flex:1 1 100%">
        <div *ngFor="let message of this.currentConversation.messages">
          <li *ngIf="message.participant_type=='END_USER'" style="display:flex;flex-direction:column">
            <div style="display:flex;flex-direction:row;justify-content: end;align-items:center;padding:8px">
              <div style="background-color:#eee;padding:8px;margin:8px">{{message.content}}</div>
          <div style="height:32px;width:32px;border-radius:32px;padding:8px;background-color:#ccc;color:#333"><mat-icon style="font-size:32px;height:32px;width:32px">person_outline</mat-icon></div>
        </div>
        <div style="justify-content:end;color:#ccc;display:flex;margin-right:8px">
          {{message.send_time | date:'shortTime'}}
        </div>
        </li>
        <li *ngIf="message.participant_type=='HUMAN_AGENT'"  style="display:flex;flex-direction:column">
          <div style="display:flex;flex-direction:row;justify-content: start;align-items:center;padding:8px">
            <div style="height:32px;width:32px;border-radius:32px;padding:8px;background-color:#3f51b5;color:#FFF"><mat-icon style="font-size:32px;height:32px;width:32px">headset_mic</mat-icon></div>
            <div style="background-color:#3f51b526;padding:8px;margin:8px">{{message.content}}</div>
        </div>
        <div style="justify-content:start;color:#ccc;display:flex;margin-right:8px">
        {{message.send_time | date:'shortTime'}}
        </div>
        </li>
        </div>
      </div>
      <mat-form-field appearance="outline">
        <input matInput [(ngModel)]="message" placeholder="Write a message here.">
        <button matSuffix mat-icon-button aria-label="Clear" (click)="analyzeMessage(message)">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
<mat-divider [vertical]="true"></mat-divider>
<div style="flex:50%;padding:16px;display:flex;flex: 1 1 0;flex-direction:column"><h2 style="font-family:'Roboto Condensed'">Articles and FAQs</h2>
  <div *ngFor="let article of this.currentConversation['articles']" style="display:flex;flex-direction:column;align-items:start;padding:8px">
    <div style="padding:8px;background-color:#3f51b5;color:#fff;font-size:12px">Article</div>
    <a href="{{article.uri}}" style="font-size:16px;font-family:'Roboto Condensed';padding-top:8px" >{{article.title}}</a>
    <span style="font-size:12px;color:#666">{{article.snippet}}</span>
    <div style="justify-content:start;color:#ccc;display:flex;padding-top:8px">
      {{article.send_time | date:'shortTime'}}
      </div>
  </div>
</div>
</div>
<mat-divider></mat-divider>
</div>